*{margin:0;padding:0;color:#EEE;font-family:arial;}
body{background: #006994;background: linear-gradient(to bottom, #006994 0%, #005A85 100%);background-attachment:fixed;display:flex;flex-direction:column;align-items:center;height:100vh;}
#sidebar{width:100%;background:#040404;display:flex;justify-content:space-between;display:flex;flex-direction:column;justify-content:center;align-items:center;border-bottom:1px solid #eee}
form{padding:50px;background:rgba(2,2,2,0.2);border-radius:5px;min-width:50vw;margin:20px;display:flex;justify-content:center;list-style-type:none;flex-direction:column;text-align:center}
ul{list-style-type:none;display:flex;width:100%;}
.main_title{width:100%;text-align:center;font-size:3em;margin:15px}
.title{text-align:center;}
li{margin:20px}
input, textarea{color:#222;height:30px;border-radius:5px;border:none;margin:2px}
#content{min-width:500px;margin-top:20px}
ol{width:auto;list-style:none;display:flex;flex-wrap:wrap;justify-content:center}
ol > li > a{margin:20px}
.categories{min-width:400px;height:250px;border:white solid 1px;margin:10px;display:flex;justify-content:center;align-items:center;flex-direction:column;}
.actions{display:flex;justify-content:space-between;width:80%}
form > li{display:flex;flex-direction:column;text-align:left;padding:20px}
.image_animal{position:absolute;width:400px;height:250px;object-fit: cover;z-index:-1}

.category_text{ color:black;text-shadow: white 0px 0px 10px;font-size:24px}


label{margin-left:20px}