html{scroll-behavior: smooth ; overflow-x: hidden;}
body{display: flex ; margin: 0% ; flex-direction: column ; background-color: white; background-size: 100%;}
header{ height: 70vh ; position: fixed; width: 100%;}
.profile{ -webkit-filter: drop-shadow(12px 12px 12px rgba(0,0,0,0.5));z-index: 10; width:40vh ; position: absolute; right: 0px ; top: 5vh; opacity: 100% ; transform: rotate(-3.5deg) ; animation: wobble 2s ease 0s 1 normal forwards; }
.profile:hover{ -webkit-filter: drop-shadow(12px 12px 12px rgba(0,0,0,0.5));animation: blank 100s ease; }
@keyframes wobble{0%, 100% {transform: translateX(0%);transform-origin: 50% 50%;}15% {transform: translateX(-30px) rotate(-6deg);}30% {transform: translateX(15px) rotate(6deg);}45% {transform: translateX(-15px) rotate(-3.6deg);}60% {transform: translateX(9px) rotate(2.4deg);}75% {transform: translateX(-6px) rotate(-1.2deg);}}
@keyframes blank{ 0%, 100% {transform: rotate(0deg);} 100% {transform: rotate(0deg);} }
@keyframes Text {0% {opacity: 0;}100% {opacity: 1;}}
@keyframes icon {0% {transform: scale3d(1, 1, 1);}30% {transform: scale3d(1.25, 0.75, 1);}40% { transform: scale3d(0.75, 1.25, 1);}50% { transform: scale3d(1.15, 0.85, 1); }65% { transform: scale3d(0.95, 1.05, 1);}75% { transform: scale3d(1.05, 0.95, 1);}100% { transform: scale3d(1, 1, 1);}}
.radius{z-index:4;width:30vh;height: 30vh;border-radius: 100%; right:0px ; top: 20vh ; position: absolute; background-color: black; border: solid ; border-color: #d2bf4d ; border-width: 3vh ;}
h1{animation: Text 2s ease 0s 1 normal none; margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: 1 ; position: absolute ; font-family: system-UI , Arial ; text-align: center; margin-top: 10vh ; color: #d2bf4d ; text-shadow : 2px 2px 2px gray}
element{height:56vh; backgroud-color: white ; background-size: 100%; z-index: 0 ;}
section{display: flex; align-items: center ; height: 60vh ; width: 100% ; z-index: 5; background:radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); clip-path: polygon(0 13%, 100% 0, 100% 87%, 0% 100%);}
section2{background-color: #EEEEEE ; border-left : solid ; border-right: solid ; border-color: gray ; margin-left: 5% ; margin-right : 5% ; justify-content: center; display: flex ; flex-wrap: wrap ;min-height:50vh ; z-index: 4; margin-top: -10vh;}
p{color: black; font-size: 20px ;}
section2 > h1 {color: white ; position: absolute ; margin-top: -8vh;}
.leaf{position:absolute ; left: 10px ; z-index: 0; width: 15vw;}
section > p{ color: white ; margin-top: 0px ; margin-bottom: 0px ; margin-left: 5vw ; font-size:130px ;font-family: system-UI, arial ; font-weight: bold; transform: rotate(-2deg)}
article{border-radius:15px;padding:20px; margin: 5% ; width: 500px; background-color: white ; box-shadow : 2px 2px 2px gray ;}
h2{color: white ; text-shadow : 2px 2px 2px black ; font-family : system-UI, arial, ; text-align : center ; font-size: 40px ; font-weight: bold;}
body2{width:100% ; display:flex ; flex-direction: column ; justify-content: center; margin: 0% ; padding: 0%; background: linear-gradient(white 15%, black);}
test{background-color: black ; height:60vh; z-index:10;}
.bottom{border-bottom : solid ; border-color: gray;border-bottom-left-radius:50px;border-bottom-right-radius:50px;}

footer{ padding-top: 20px ; padding-left: 5% ; padding-right: 5% ; background-color: rgb(27,18,9) ; z-index: 15 ; opacity: 100% ; min-height: 300px ; padding-bottom : 20px}
footer > p{ color: white ; margin: 2vw ; font-size: 16px ; font-family: Arial; }
footer > p{font-weight: bold; color: gray ; margin: 0 ; margin-top: 40px ; margin-bottom: 40px }
footer > hr{transform: rotate(0deg) ; border-color: gray ; width: 85% ; margin-top: 20px ; margin-bottom: 20px; opacity: 40% }
footer > p > a{color: gray;}
.subfooter{z-index:1;justify-content:center;max-height: none ; flex-wrap: wrap ; display: flex ; padding: 0px ; width: 100% ; background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,18,9,1) 100%) ; min-height: 300px ; border-radius:0}
.h2-subfooter > p{color: gray ; opacity: 70% ; font-size: 10px ; text-align: center;}
.subfooter > hr{transform: rotate(0deg) ; border-color: gray ; width: 100% ; margin-top: 20px ; margin-bottom: 20px; opacity: 10% ; border-style: dotted ; height:5px;}
.subfooter > .h2-subfooter > h2{margin-top:5vh;text-align: center ; text-shadow: 1px 1px 2px white}
.subfooter > *{font-family: system-UI , arial; max-height: 100px ; display: flex; justify-content: center ; width: auto ; border-radius: 1vw ; z-index: 5 ; box-shadow : 0.2vw 0.2vw 0.2vw black ; align-items: center;margin-left: 200px; margin-right: 200px;}
.link_icon{ width:30px; ; margin: 10px ;}
.follow > a:hover{opacity:30%}
.h2-subfooter{font-family: system-UI, arial ; box-shadow: 0px 0px 0px ; background-color: transparent ; flex-direction: column; margin: 0 ; margin-left: 20px; margin-right: 20px; padding: 0;}
.h2-subfooter > *{margin: 0;}
.follow{background-color:#121212;margin-top: 20px ; max-height: none; flex-wrap: wrap ; padding: 10px ; padding-right: 20px;margin-bottom:5vh;}
.follow > p{color: gray; font-weight: bold; margin-top: 10px; margin-bottom: 10px;}
footer{border-top: solid; border-color: white; font-family: system-UI ,arial;}
.follow > a{width:30px ; height: 30px ; display: flex ; justify-content : center ; align-items: center; margin: 10px;}
.link_icon:hover{zoom:105%; animation: icon 1s ease-in-out;}
.UHA{filter: grayscale(100%) ; width:300px ; opacity: 40%; margin-top: 20px; margin-left: 6vw}
.asf{filter: grayscale(100%) ; width:200px ; opacity: 40%; margin-top: 20px; margin-left: 30px}
img:hover{filter: grayscale(0%)}

@media screen and (max-width: 900px) {
header > h1{text-align :justify ; margin-top: 10vh ; margin-left: 10vw;}
element{background-size: 200%;}
section{height: 50vh ; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
.profile{width:30vh; top: 16.5vh ; z-index: 1000;}
.radius {background-color: transparent ; border-color: transparent; }
section > p{font-size: 100px; transform: rotate(0deg)}
.subfooter> .follow{ min-width:500px;}
footer> img{max-width: 200px;}}

@media only screen and (min-width: 769px) and (max-width: 1281px){
header > h1{text-align :justify ; margin-top: 10vh ; margin-left: 10vw;}
body{background-size: 200%;}
element{background-size: 200%;}
section{height: 50vh ; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
.profile{width:30vh; top: 16.5vh ; z-index: 1000;}
.radius {background-color: transparent ; border-color: transparent; }
section > p{font-size: 100px; transform: rotate(0deg)}
.subfooter > hr{opacity: 0%}
.subfooter> .follow{ min-width: 100px;}
footer> img{max-width: 50px ; opacity: 0%;}}