<!-- héritage du contenu du gabarit squelette main.hml -->
{% extends "main.html" %} <!-- si le gabarit n'est pas dans templates mais dans le
répertoire templates/myfirstapp/, il faudra ajouter le chemin d'accès avant le nom
du fichierdonc extends "myfirstapp/main.html" -->
<!-- définition de ce que contiendra la balise title du head -->
{% block title %}
Bonjour
{% endblock %}
{% block content %}
<h1> {{specie.specie}} </h1>
<p> This {{specie.type}} specie is known as the {{specie.specie}}. </p>
<p> It was discovered on {{specie.date_discovered}}
<h3> Details: </h3>
<p> It is found at a depth of {{specie.depth}} meters! And can be found in {{specie.locations}}</p>
<p> It can weigh up to {{specie.weight}} kgs, and is estimated to reach an average size of {{specie.size}} cm.</p>
<p> It can live up to {{specie.lifespan}} years. </p>
<h3> Description: </h3>
<p> {{specie.description}} </p>

{% endblock %}