{% extends "main.html" %}
{% block title %}
Sealife
{% endblock %}
{% block content %}
{% if count > 0 %}
<form method="post" action="/sealife/traitement/" enctype="multipart/form-data">
<h1 class="add_title"> Add a Specie </h1>
{% csrf_token %}
{{ form.as_ul }}
<input type="submit" value="SEND DATA">
    <style>body{background:url(/sealife/media/wood.jpg)}</style>
</form>
{% else %}
<form>
<p class="error"> You must first add an animal before adding a specie type! <br> <a href="/sealife/ajoutCategory"> Click here to add an animal! </a></p>
    <style>body{background:url(/sealife/media/wood.jpg)}</style>
</form>
{% endif %}
{% endblock %}