<!-- héritage du contenu du gabarit squelette main.hml -->
{% extends "main.html" %} <!-- si le gabarit n'est pas dans templates mais dans le
répertoire templates/myfirstapp/, il faudra ajouter le chemin d'accès avant le nom
du fichierdonc extends "myfirstapp/main.html" -->
<!-- définition de ce que contiendra la balise title du head -->
{% block title %}
Sealife
{% endblock %}
{% block content %}
<h1 class="title"> Species of the {{animal.name}}: </h1>
		<p>{{animal.description}}</p>
<ol>
        {% for l in liste %}
            <li class="categories"> {{l}} <a href="/sealife/affiche/{{l.id}}"> DETAILS </a> <a href="/sealife/delete/{{l.id}}"> DELETE </a> <a href="/sealife/update/{{l.id}}"> EDIT </a></li>
        {%endfor%}
</ol>

{% endblock %}