{% extends "main.html" %}
{% block title %}
Sealife
{% endblock %}
{% block content %}
     <div class="content nobg" id="Explore"> <h1 class="nobg" id="explore_text"> EXPLORE THE OCEAN </h1></div>
     {% if count > 0 %}
     <div class="content last nobg"> <h3> Here are some of the animals of the sea</h3> </div>
    {% else %}
       <div class="content last nobg"> <h3> Whoops. There doesn't appear to be anything here.</h3> </div>
    {% endif %}
<div class="affiche">
<ol>
        {% for l in liste %}
            <li class="categories category_text"><h2 class="name_animal"> {{l}} </h2><a class="image_animal" href="/sealife/afficheCategory/{{l.id}}"><img class="image_animal" src="/sealife{{l.image.url}}"/></a> {{l}} <div class="actions"><a class="category_text" href="/sealife/updateCategory/{{l.id}}"> ✏️ </a><a class="category_text" href="/sealife/deleteCategory/{{l.id}}"> ❌ </a></div></li>
        {%endfor%}
</ol>
</div>
{% endblock %}