<!-- héritage du contenu du gabarit squelette main.hml -->
{% extends "main.html" %} <!-- si le gabarit n'est pas dans templates mais dans le
répertoire templates/myfirstapp/, il faudra ajouter le chemin d'accès avant le nom
du fichierdonc extends "myfirstapp/main.html" -->
<!-- définition de ce que contiendra la balise title du head -->
{% block title %}
Sealife
{% endblock %}
{% block content %}
<h1 class="title"> Animals: </h1>
<ol>
        {% for l in liste %}
            <li class="categories category_text"> <img class="image_animal" src="/sealife{{l.image.url}}"/> {{l.category}} | {{l}} <div class="actions"> <a class="category_text" href="afficheCategory/{{l.id}}">SPECIES</a><a class="category_text" href="deleteCategory/{{l.id}}"> DELETE </a> <a class="category_text" href="updateCategory/{{l.id}}"> EDIT </a></div></li>
        {%endfor%}
</ol>

{% endblock %}